* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body h1 {
  font-size: 1.5rem;
}

body h2 {
  font-size: 1rem;
}

body p {
  font-size: 1rem;
}

@media only screen and (min-width: 1260px) {
  body h1 {
    font-size: 1.7rem;
  }
}

@-webkit-keyframes dark-mode-toggle {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes dark-mode-toggle {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

/*-----------loader----------*/
@-webkit-keyframes loader-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-bg {
  0% {
    opacity: 1;
    z-index: 5;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 5;
  }
}

@keyframes loader-bg {
  0% {
    opacity: 1;
    z-index: 5;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 5;
  }
}

/*-------favorite btn-----*/
@-webkit-keyframes favorite-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes favorite-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes favorite-inactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes favorite-inactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-------meal card-------*/
@-webkit-keyframes meal-card {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes meal-card {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.mode-toggle {
  width: 100px;
  height: 30px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.mode-toggle__switch {
  width: 25px;
  height: 25px;
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mode-toggle--night {
  -webkit-transform: translate(67px, 0px);
          transform: translate(67px, 0px);
}

header {
  background-color: #FBFBFB;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 50px;
}

header img {
  width: 10vw;
  margin: 10px 0px 10px 20px;
}

header nav {
  width: 90vw;
  height: auto;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  background-color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__activities {
  background-color: white;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin: 7px 15px;
  border-radius: 5px;
}

.footer__copyright {
  color: white;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  margin-bottom: 40px;
  bottom: 0;
  font-size: 0.5rem;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 93vh;
}

.hero {
  width: 100%;
  height: 500px;
}

.profile-page {
  width: 100%;
  height: 100%;
}

.profile-page__content {
  width: 90%;
  height: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-page__graphics {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: 10px;
  width: 600px;
  height: 100%;
}

.profile-page__macros {
  width: 220px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.daily-activity {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border-radius: 5px;
  background-color: #FBFBFB;
}

.graphics-small {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #FBFBFB;
}

.speed {
  background-color: #FF0101;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 70px;
}

.banner h1 {
  margin: 0px 10px 0px 0px;
  font-size: 2.5rem;
}

.banner__name {
  color: #FF0101;
}

.banner p {
  width: 100%;
}
/*# sourceMappingURL=App.css.map */