$color-primary: #0b92b1;
$color-secondary: #FF0101;
$color-tertiary:pink;


$background-primary: #FBFBFB;
$background-secondary: #FF0101;
$background-tertiary: #282D30;

$font-light:rgb(235, 235, 235);
$font-dark:rgb(49, 49, 49);